<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="about-us">
            <section class="content">
                <h1>About Us</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ad itaque, earum vel exercitationem saepe at ex debitis dolor. Labore fugit et iure accusantium doloribus porro explicabo, dolorem cumque iusto.
                    Nesciunt minima dolorum facilis, eaque animi aut soluta molestiae placeat suscipit esse fuga tenetur, deleniti illo recusandae id dolor nihil voluptatem magni labore debitis hic illum aliquid? Necessitatibus, voluptas rerum.
                    Hic dolore, doloribus vitae sint iure consequuntur omnis magni architecto nulla ratione eos ut rerum, quae cumque facilis tenetur eum quo. Reiciendis, quia alias minima enim omnis dicta autem laboriosam.
                </p>
            </section>

        </div>
        <div class="login-form">
            <form method="post" action="/home/main">
                Email: <input type="email" name="email" placeholder="Enter email" required><br><br>
                Password : <input type="password" name="password" placeholder="Enter password" required><br><br>
                <div class="sign-up">
                    <span>Don't have account ? <a href="#">Sign Up</a></span>
                </div>
                <div class="reset">
                    <span>Forgot password ? <a href="#">Reset</a></span>
                </div>
                <button>Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>